Flow/Communication Site Request Flow.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name":{"defaultValue":"ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('98c280eb-c124-4307-98ee-fe6ae58948d6'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Start_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribe"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"title":"New @{triggerBody()?['Title']}  Communicatation Site Request","assignedTo":"Westin@M365x386378.onmicrosoft.com;Charlie@M365x386378.onmicrosoft.com;admin@M365x386378.OnMicrosoft.com;","details":"@{triggerBody()?['Author']?['DisplayName']} at @{triggerBody()?['Created']}\nCommunication Site Request Details:\nSite Name: @{triggerBody()?['Title']}\nDescription: @{triggerBody()?['Description']}\nProposed Url: @{triggerBody()?['Url']}\nS:ite Collection Admin: @{triggerBody()?['SiteOwner']?['DisplayName']}, @{triggerBody()?['SiteOwner']?['Email']}, @{triggerBody()?['SiteOwner']?['JobTitle']}","itemLink":"@triggerBody()?['{Link}']","itemLinkDescription":"@{triggerBody()?['{Name}']} Communication Site Request","NotificationUrl":"@listCallbackUrl()"},"path":"/basic/$subscriptions","authentication":"@parameters('$authentication')"}},"If_Request_Was_Approved":{"actions":{"Inform_item_creator_of_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']}","Subject":"Approved:@{triggerBody()?['Title']} Communication Site Request ","Body":"Your request for  communication site@{triggerBody()?['Title']} has been approved by @{body('Start_an_approval')?['responder']?['displayName']} (@{body('Start_an_approval')?['responder']?['email']}). Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"CreateCommunicationSite":{"runAfter":{"Inform_item_creator_of_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateCommunicationSite"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26']['connectionId']"}},"method":"post","body":{"title":"@triggerBody()?['Title']","description":"@triggerBody()?['Description']","url":"@triggerBody()?['Url']","owner":"@triggerBody()?['SiteOwner']?['Email']","allowFileSharingForGuestUsers":false,"siteDesign":"@triggerBody()?['SiteDesign']?['Value']"},"path":"/api/CreateCommunicationSite","authentication":"@parameters('$authentication')"}},"If_Site_Was_Created":{"actions":{"Update_SharePoint_List_-_Successful":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","Description":"@triggerBody()?['Description']","Url":"@triggerBody()?['Url']","SiteDesign":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"@triggerBody()?['SiteDesign']?['Value']"},"SiteOwner":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser","Claims":"@triggerBody()?['SiteOwner']?['Claims']"},"Status":"Site@{body('CreateCommunicationSite')?['siteUrl']} was created at @{utcNow()}","History":"@{body('Record_Approval')?['History']}\n@{concat(convertTimeZone(utcnow(),'UTC','Eastern Standard Time','MM/dd/yyyy HH:mm:ss tt'), ' : Site was created successfully. Site Url is ', body('Record_Approval')['Url'])}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('98c280eb-c124-4307-98ee-fe6ae58948d6'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Send_an_email":{"runAfter":{"Update_SharePoint_List_-_Successful":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{body('Update_SharePoint_List_-_Successful')?['Author']?['Email']};@{body('Update_SharePoint_List_-_Successful')?['SiteOwner']?['Email']};","Subject":"Communication Site @{body('Update_SharePoint_List_-_Successful')['Title']} has been created","Body":"Your request for new communication site @{body('Update_SharePoint_List_-_Successful')['Title']} has been approved.  And the site has been created at @{body('Update_SharePoint_List_-_Successful')['Url']} \n\nRegards\n"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"CreateCommunicationSite":["Succeeded"]},"else":{"actions":{"Update_SharePoint_List_-_Error":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","Description":"@triggerBody()?['Description']","Url":"@triggerBody()?['Url']","SiteDesign":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"@triggerBody()?['SiteDesign']?['Value']"},"SiteOwner":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser","Claims":"@triggerBody()?['SiteOwner']?['Claims']"},"Status":"Error creating the site @{body('CreateCommunicationSite')?['siteUrl']}\nError details:\n@{body('CreateCommunicationSite')?['message']}","History":"@{body('Record_Approval')?['History']}\n@{concat(convertTimeZone(utcnow(),'UTC','Eastern Standard Time','MM/dd/yyyy HH:mm:ss tt'), ' : Site creation resulted in an error. ', body('CreateCommunicationSite')?['message'])}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('98c280eb-c124-4307-98ee-fe6ae58948d6'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Send_an_email_Error":{"runAfter":{"Update_SharePoint_List_-_Error":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{body('Update_SharePoint_List_-_Error')?['Author']?['Email']}@{body('Update_SharePoint_List_-_Error')?['SiteOwner']?['Email']};;","Subject":"Error in provisioning Communicate Site @{body('Update_SharePoint_List_-_Error')['Title']} ","Body":"Your request for the new communication site @{body('Update_SharePoint_List_-_Error')['Title']} at @{body('Update_SharePoint_List_-_Error')['Url']} was approved.  However, the provisioning process encountered an error and the site was not created.  The error was:\n\n@{body('CreateCommunicationSite')?['message']}\n\nPlease recreate a new Communication Site Request to retry. \n"},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('CreateCommunicationSite')?['siteCreated'], true)","type":"If"}},"runAfter":{"Record_Approval":["Succeeded"]},"else":{"actions":{"Inform_item_creator_of_rejection":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']}","Subject":"Rejected:@{triggerBody()?['Title']} Communication Site Request","Body":"Your request for @{triggerBody()?['Title']} has been rejected by @{body('Start_an_approval')?['responder']?['displayName']} (@{body('Start_an_approval')?['responder']?['email']}). Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Start_an_approval')?['response'], 'Approve')","type":"If"},"Record_Approval":{"runAfter":{"Start_an_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","Description":"@triggerBody()?['Description']","Url":"@triggerBody()?['Url']","SiteDesign":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"@triggerBody()?['SiteDesign']?['Value']"},"SiteOwner":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser","Claims":"@triggerBody()?['SiteOwner']?['Claims']"},"Status":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"@{if(equals(body('Start_an_approval')?['response'], 'Approve'), 'Approved', 'Rejected')}"},"History":"@{triggerBody()?['History']}\n@{concat(convertTimeZone(utcnow(),'UTC','Eastern Standard Time','MM/dd/yyyy HH:mm:ss tt'), ' : ', body('Start_an_approval')?['response'], 'd by ', body('Start_an_approval')?['responder']?['email'], ' with the following comments: ', body('Start_an_approval')?['comments'])}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('98c280eb-c124-4307-98ee-fe6ae58948d6'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"description":"Use this template for processing approvals on SharePoint list items. The approver can view their approval requests in the Approvals Center and over email. Once an item is approved or rejected, the item creator is sent a confirmation email."},"parameters":{"$connections":{"value":{"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name'))]","connectionName":"[parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('approvals_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26')]"},"displayName":"[parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}