Flow/Group Request Flow.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name":{"defaultValue":"ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('bcaf3def-b4a7-43d1-8577-49d2c650eb41'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Start_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribe"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"title":"New @{triggerBody()?['Title']} Group Request Requires Your Approval","assignedTo":"Westin@M365x386378.onmicrosoft.com;Charlie@M365x386378.onmicrosoft.com;admin@M365x386378.OnMicrosoft.com;","details":"@{triggerBody()?['Author']?['DisplayName']} at @{triggerBody()?['Created']}\nGroup Request Details:\nGroup Name: @{triggerBody()?['Title']}\nDescription: @{triggerBody()?['Description']}\nCreate Team: @{if(triggerBody()?['CreateTeam'], 'Yes', 'No')}\nGroup Owner:  @{triggerBody()?['GroupOwner']?['DisplayName']}, @{triggerBody()?['GroupOwner']?['Email']}, @{triggerBody()?['GroupOwner']?['JobTitle']}","itemLink":"@triggerBody()?['{Link}']","itemLinkDescription":"@{triggerBody()?['{Name}']}  Group Request","NotificationUrl":"@listCallbackUrl()"},"path":"/basic/$subscriptions","authentication":"@parameters('$authentication')"}},"If_Request_Was_Approved":{"actions":{"Inform_item_creator_of_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']};@{body('Record_Approval')?['GroupOwner']?['Email']};","Subject":"Approved: @{triggerBody()?['Title']} Group Request","Body":"Your request for @{triggerBody()?['Title']} has been approved by @{body('Start_an_approval')?['responder']?['displayName']}. Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"CreateGroup":{"runAfter":{"Inform_item_creator_of_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26']['connectionId']"}},"method":"post","body":{"name":"@triggerBody()?['Title']","description":"@triggerBody()?['Description']","emailAlias":"@triggerBody()?['EmailAlias']","emailEnabled":"@triggerBody()?['EmailEnabled']","ownerUpn":"@triggerBody()?['GroupOwner']?['Email']","isPrivate":"@triggerBody()?['IsPrivate']","createTeam":"@triggerBody()?['CreateTeam']","teamSettings":{"memberSettings":{"allowCreateUpdateChannels":"@body('Record_Approval')?['TeamMemberAllowCreateUpdateChann']","allowDeleteChannels":"@body('Record_Approval')?['TeamMemberAllowDeleteChannel']","allowAddRemoveApps":"@body('Record_Approval')?['TeamMemberAllowAddRemoveApps']","allowCreateUpdateRemoveTabs":"@body('Record_Approval')?['TeamMemberAllowManageTabs']","allowCreateUpdateRemoveConnectors":"@body('Record_Approval')?['TeamMemberAllowManageConnectors']"},"guestSettings":{"allowCreateUpdateChannels":"@body('Record_Approval')?['TeamGuestAllowCreateUpdateChanne']","allowDeleteChannels":"@body('Record_Approval')?['TeamGuestAllowDeleteChannel']"},"messagingSettings":{"allowUserEditMessages":"@body('Record_Approval')?['TeamMessageAllowUserEdit']","allowUserDeleteMessages":"@body('Record_Approval')?['TeamMessageAllowUserDelete']","allowOwnerDeleteMessages":"@body('Record_Approval')?['TeamMessageAllowOwnerDelete']","allowTeamMentions":"@body('Record_Approval')?['TeamMessageAllowTeamMention']","allowChannelMentions":"@body('Record_Approval')?['TeamMessageAllowChannelMention']"},"funSettings":{"allowGiphy":"@body('Record_Approval')?['TeamFunAllowGiphy']","giphyContentRating":"@{toLower(body('Record_Approval')?['TeamFunGiphyContentRating'])}","allowStickersAndMemes":"@body('Record_Approval')?['TeamFunAllowStickerAndMeme']","allowCustomMemes":"@body('Record_Approval')?['TeamFunAllowCustomMeme']"}},"teamChannels":[{"displayName":"@triggerBody()?['TeamChannel1Name']","description":"@triggerBody()?['TeamChannel1Description']"},{"displayName":"@triggerBody()?['TeamChannel2Name']","description":"@triggerBody()?['TeamChannel2Description']"}],"createPlanner":"@triggerBody()?['createPlanner']","plannerTitile":"@triggerBody()?['PlannerTitle']","createNotebook":"@triggerBody()?['CreateNotebook']","notebookTitile":"@triggerBody()?['NotebookTitle']"},"path":"/api/CreateGroup","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_item":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@body('Record_Approval')['Title']","EmailAlias":"@body('Record_Approval')['EmailAlias']","Description":"@body('Record_Approval')['Description']","GroupOwner":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser","Claims":"@body('Record_Approval')?['GroupOwner']?['Claims']"},"IsPrivate":"@body('Record_Approval')?['IsPrivate']","CreateTeam":"@body('Record_Approval')?['CreateTeam']","TeamChannel1Name":"@body('Record_Approval')?['TeamChannel1Name']","TeamChannel2Name":"@body('Record_Approval')?['TeamChannel2Name']","Status":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"Completed"},"History":"@{body('Record_Approval')?['History']}\n@{concat(convertTimeZone(utcnow(),'UTC','Eastern Standard Time','MM/dd/yyyy HH:mm:ss tt'), ' : Group was created successfully. Group ID is ',  body('CreateGroup')?['groupId'], ' Group site URL is ', body('CreateGroup')?['groupSiteUrl'])}","EmailEnabled":"@body('Record_Approval')?['EmailEnabled']","TeamChannel1Description":"@body('Record_Approval')?['TeamChannel1Description']","TeamChannel2Description":"@body('Record_Approval')?['TeamChannel2Description']","createPlanner":"@body('Record_Approval')?['createPlanner']","PlannerTitle":"@body('Record_Approval')?['PlannerTitle']","CreateNotebook":"@body('Record_Approval')?['CreateNotebook']","NotebookTitle":"@body('Record_Approval')?['NotebookTitle']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('bcaf3def-b4a7-43d1-8577-49d2c650eb41'))}/items/@{encodeURIComponent(body('Record_Approval')?['ID'])}","authentication":"@parameters('$authentication')"}},"Send_an_email_-_Completed":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{body('Update_item')?['GroupOwner']?['Email']};@{body('Update_item')?['GroupOwner']?['Email']};","Subject":"Your @{body('Update_item')['Title']} Group Has Been Created","Body":"You Unified Group named \"@{body('Update_item')['Title']}\" has been created.  The details of the Group are as following\n\nGroup ID is @{body('CreateGroup')?['groupId']}\nGroup site URL is @{body('CreateGroup')?['groupSiteUrl']}\nTeam Created was @{body('CreateGroup')?['teamCreated']}\n\n\n  "},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"CreateGroup":["Succeeded"]},"else":{"actions":{"Update_SharePoint_List_-_Error":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@body('Record_Approval')['Title']","EmailAlias":"@body('Record_Approval')['EmailAlias']","Description":"@body('Record_Approval')['Description']","GroupOwner":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser","Claims":"@body('Record_Approval')?['GroupOwner']?['Claims']"},"IsPrivate":"@body('Record_Approval')?['IsPrivate']","CreateTeam":"@body('Record_Approval')?['CreateTeam']","TeamChannel1Name":"@body('Record_Approval')?['TeamChannel1Name']","TeamChannel2Name":"@body('Record_Approval')?['TeamChannel2Name']","Status":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"Error"},"History":"@{body('Record_Approval')?['History']}\n@{concat(convertTimeZone(utcnow(),'UTC','Eastern Standard Time','MM/dd/yyyy HH:mm:ss tt'), ' : Error in creating Group.  Error returned was: ', body('CreateGroup')?['message'])}","EmailEnabled":"@body('Record_Approval')?['EmailEnabled']","TeamChannel1Description":"@body('Record_Approval')?['TeamChannel1Description']","TeamChannel2Description":"@body('Record_Approval')?['TeamChannel2Description']","createPlanner":"@body('Record_Approval')?['createPlanner']","PlannerTitle":"@body('Record_Approval')?['PlannerTitle']","CreateNotebook":"@body('Record_Approval')?['CreateNotebook']","NotebookTitle":"@body('Record_Approval')?['NotebookTitle']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('bcaf3def-b4a7-43d1-8577-49d2c650eb41'))}/items/@{encodeURIComponent(body('Record_Approval')?['ID'])}","authentication":"@parameters('$authentication')"}},"Send_an_email":{"runAfter":{"Update_SharePoint_List_-_Error":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{body('Record_Approval')?['Author']?['Email']};@{body('Record_Approval')?['GroupOwner']?['Email']};","Subject":"Error in creating group@{body('Update_SharePoint_List_-_Error')['Title']}","Body":"There was an error while creating Group @{body('Update_SharePoint_List_-_Error')['Title']}\n\nThe error was @{body('CreateGroup')?['message']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('CreateGroup')?['groupCreated'], true)","type":"If"}},"runAfter":{"Record_Approval":["Succeeded"]},"else":{"actions":{"Inform_item_creator_of_rejection":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']};@{body('Record_Approval')?['GroupOwner']?['Email']};","Subject":"Rejected:@{triggerBody()?['Title']}  Group Creation Request","Body":"Your request for @{triggerBody()?['Title']} has been rejected by @{body('Start_an_approval')?['responder']?['displayName']}. Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Start_an_approval')?['response'], 'Approve')","type":"If"},"Record_Approval":{"runAfter":{"Start_an_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","EmailAlias":"@triggerBody()?['EmailAlias']","Description":"@triggerBody()?['Description']","GroupOwner":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser","Claims":"@triggerBody()?['GroupOwner']?['Claims']"},"IsPrivate":"@triggerBody()?['IsPrivate']","CreateTeam":"@triggerBody()?['CreateTeam']","TeamChannel1Name":"@triggerBody()?['TeamChannel1Name']","TeamChannel2Name":"@triggerBody()?['TeamChannel2Name']","Status":{"@@odata.type":"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference","Value":"@{if(equals(body('Start_an_approval')?['response'], 'Approve'), 'Approved', 'Rejected')}"},"History":"@{triggerBody()?['History']}\n@{concat(convertTimeZone(utcnow(),'UTC','Eastern Standard Time','MM/dd/yyyy HH:mm:ss tt'), ' : ', body('Start_an_approval')?['response'], 'd by ', body('Start_an_approval')?['responder']?['email'], ' with the following comments: ', body('Start_an_approval')?['comments'])}","EmailEnabled":"@triggerBody()?['EmailEnabled']","TeamChannel1Description":"@triggerBody()?['TeamChannel1Description']","TeamChannel2Description":"@triggerBody()?['TeamChannel2Description']","createPlanner":"@triggerBody()?['createPlanner']","PlannerTitle":"@triggerBody()?['PlannerTitle']","CreateNotebook":"@triggerBody()?['CreateNotebook']","NotebookTitle":"@triggerBody()?['NotebookTitle']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x386378.sharepoint.com/sites/Ready2018'))}/tables/@{encodeURIComponent(encodeURIComponent('bcaf3def-b4a7-43d1-8577-49d2c650eb41'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"description":"Use this template for processing approvals on SharePoint list items. The approver can view their approval requests in the Approvals Center and over email. Once an item is approved or rejected, the item creator is sent a confirmation email."},"parameters":{"$connections":{"value":{"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name'))]","connectionName":"[parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('approvals_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26')]"},"displayName":"[parameters('ready2018functions.5f4bbb1187b5864dfe.5f91e94cea3ab7dc26_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}